.history {
    margin: 0 0 200px;

    &__title {
        margin: 0 0 57px;
    }

    &__list {
        counter-reset: count;
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 976px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 22px;
        position: relative;
    }

    &__item {
        counter-increment: count;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 21px;
        position: relative;
        max-width: 450px;
        margin: 0 0 0 auto;
        z-index: 10;
        min-width: 450px;
        justify-content: space-between;

        &::before {
            content: "";
            height: 126%;
            width: 1px;
            background-color: $color-bright-orange;
            position: absolute;
            left: -40px;
            top: -30px;
            z-index: -1;
        }

        &--left {
            margin: 0 auto 0 0;
            flex-direction: row-reverse;

            &::before {
                content: "";
                height: 100%;
                width: 1px;
                left: unset;
                right: -37px;
                top: -6px;
            }

            .history__item-title {
                &::after {
                    left: -9%;
                }

                &::before {
                    left: 106%;
                }
            }
        }

        &--line-down {
            &::before {
                height: 70%;
                top: 70px;
            }
        }

        &--line-up {
            &::before {
                height: 75%;
            }
        }
    }

    &__item-wrap {
        display: flex;
        flex-direction: column;
        gap: 24px;
        text-align: center;
        margin: 52px 0 auto;

        &--small-margin {
            margin: 28px 0 auto;
        }
    }

    &__item-title {
        font-family: $ff-title;
        font-weight: 400;
        font-size: 18px;
        vertical-align: bottom;
        margin: 0;
        position: relative;

        &::after {
            content: "";
            width: 325px;
            height: 1px;
            background-color: $color-bright-orange;
            position: absolute;
            left: -21%;
            z-index: -1;
            bottom: -10px;
        }

        &::before {
            content: counter(count);
            font-family: $ff-title;
            color: $color-white;
            background-color: $color-bright-orange;
            min-width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 108%;
            bottom: -30px;
        }
    }

    &__item-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
    }

    &__img {
        padding: 13px;
        border: 1px solid $color-bright-orange;
        border-radius: 100%;
    }
}