// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-rust :#AD2D11;
$color-floral-white: #FDFAF4;
$color-bright-orange: #FACA47;
// Typography
$ff-main: "Raleway", "Arial", sans-serif;
$ff-title: "Prata", "Times New Roman", serif;

// Viewport
$vp-tablet: 1366px;

// Animation
$transition-300: ease-in 0.3s;