.achievement-card {
  padding: 24px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
  border-radius: 16px;
  background: $color-gradient;

  @include vp-768 {
    width: calc(92vw / 2);
    padding: 28px;
    flex-direction: column;
    gap: 28px;
    min-height: 180px;
  }

  @include vp-1024 {
    width: calc(90vw / 2);
    padding: 40px;
    min-height: 240px;
    gap: 36px;
  }

  @include vp-1304{
    max-width: 288px;
    min-height: 268px;
    gap: 46px;
  }

  &__icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    color: $color-white;
  }

  &__title {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $color-white;

    @include vp-1024 {
      font-size: 32px;
      line-height: 36px;
      margin: 0 0 16px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}