.news {
  overflow: hidden;
  padding: 0 0 60px 0;

  @include vp-768 {
    padding: 40px 0 80px;
  }

  @include vp-1024 {
    padding: 40px 0 100px;
  }

  @include vp-1304 {
    padding: 40px 0 120px;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  &__text-bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  &__search-technology {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__search-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
}