.pages {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0 0 40px;
    align-items: flex-start;

    @include vp-768 {
        justify-content: center;
    }

    @include vp-1024 {
        margin: 0 0 60px;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    &__btn {}

    &__arrow {}

    &__arrow-icon {}

    &__item {}
}