.header {
  background: linear-gradient(90deg, #415BD2 0%, #8DA1F7 100%);

  @include vp-1023{
    max-height:  66px;
  }

  &__content {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 22px 0;

    @include vp-1023{
      padding: 15px 0;
    }
  }

  &__logo-link--large {
    height: 36px;
    width: 170px;
    @include vp-1023{
      display: none;
    }
  }

  &__logo-link--small{
    width: 36px;
    height: 36px;
    display: none;
    @include vp-1023{
      display: block;
    }
  }

  &__burger {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    cursor: pointer;
  }
}
