// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-dark-grayish-blue: #777F85;
$color-dark-blue: #287EA2;
$color-grayish-blue: #C0CAD6;
$color-light-grayish-cyan: #F2F5F5;
// Typography
$ff-main: "Open Sans", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;