.burger {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 20;
  $root: &;
  cursor: pointer;

  &::before,
  &::after {
    background-color: $color-white;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    top: 9px;
    transform: translate(-50%, 0);
    width: 32px;
    z-index: 100;
    opacity: 0;
  }

  &::before {
    transition: top $transition-300 0.5s, transform $transition-300 0.3s, opacity $transition-300 1s;
  }

  &::after {
    transition: top $transition-300 0.5s, transform $transition-300 0.3s, opacity $transition-300 1s;
    top: 19px;
  }

  .header--open & {
    & {
      &::after {
        opacity: 1;
        top: 15px;
        transform: translate(-50%, 0) rotate(45deg);
        transition: top $transition-300 0.3s, transform $transition-300 0.5s, opacity $transition-300;
      }

      &::before {
        opacity: 1;
        top: 15px;
        transform: translate(-50%, 0) rotate(-45deg);
        transition: top $transition-300 0.3s, transform $transition-300 0.5s, opacity $transition-300;
      }
    }
  }

  .header--open & {
    #{$root}__icon--open {
      opacity: 0;
      transition: opacity $transition-300;
    }

    #{$root}__icon--close {
      opacity: 1;
      transition: opacity $transition-300;
    }
  }

  &__icon--close {
    display: none;
    opacity: 0;
    transition: opacity $transition-300;
  }
  &__icon--open {
    opacity: 1;
    transition: opacity $transition-300 1s;
  }
}