.burger {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 20;
  $root: &;
  cursor: pointer;

  &::before,
  &::after {
    background-color: $color-white;
    content: "";
    height: 3px;
    position: absolute;
    transform: translateY(-150%);
    width: 32px;
    z-index: 100;
    opacity: 0;
    transition: transform $transition-300 0.5s, opacity $transition-300 1s;
     transform-origin: center;
  }

  &::after {
    transform: translateY(150%);
  }

  .header--open & {
    & {
      &::before,
      &::after {
        opacity: 1;
        transform: translateY(0) rotate(45deg) ;
        transition: transform $transition-300 0.5s, opacity $transition-300;
      }

      &::before {
        transform: translateY(0) rotate(-45deg) ;
      }
    }
  }

  .header--open & {
    #{$root}__icon--open {
      opacity: 0;
      transition: opacity $transition-300;
    }

    #{$root}__icon--close {
      opacity: 1;
      transition: opacity $transition-300;
    }
  }

  &__icon--close {
    display: none;
    opacity: 0;
    transition: opacity $transition-300;
  }
  &__icon--open {
    opacity: 1;
    transition: opacity $transition-300 1s;
  }
}