.burger {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  position: relative;
  z-index: 20;
  $root: &;
  cursor: pointer;

  &::before,
  &::after {
    background-color: $color-white;
    content: "";
    height: 3px;
    left: 50%;
    position: absolute;
    top: 9px;
    transform: translate(-50%, 0);
    width: 32px;
    z-index: 100;
    opacity: 0;
  }

  &::before {
    transition: top $transition-300 0.3s, transform $transition-300, opacity $transition-300;
  }

  &::after {
    transition: top $transition-300 0.3s, transform $transition-300 opacity $transition-300;
    top: 19px;
  }

  .header--open & {
    & {
      &::after {
        opacity: 1;
        background-color: $color-white;
        top: 15px;
        transform: translate(-50%, 0) rotate(45deg);
        transition: background-color $transition-300, top $transition-300, transform $transition-300 0.3s;
      }

      &::before {
        opacity: 1;
        background-color: $color-white;
        top: 15px;
        transform: translate(-50%, 0) rotate(-45deg);
        transition: background-color $transition-300, top $transition-300, transform $transition-300 0.3s;
      }
    }
  }

  .header--open & {
    #{$root}__icon--open {
      animation: iconOpen $transition-300 0.5s forwards;
      display: none;
    }

    #{$root}__icon--close {
      opacity: 0;
      animation: iconClose $transition-300 0.5s forwards;
      display: flex;
    }
  }

  &__icon--close {
    display: none;
    background: transparent;
  }
}

@keyframes iconOpen {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes iconClose {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}