.footer {
  padding: 0 0 30px;
  $root: &;

  &--nav {
    padding: 0;
    margin: auto 0 0 0;
    position: relative;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform $transition-300 0.7s, opacity $transition-300 0.7s;

    #{$root}__logo {
      color: $color-white;
    }

    #{$root}__copyright {
      color: $color-white;
    }

    #{$root}__link {
      color: $color-white;
      text-decoration: underline;
    }

    .header--open & {
      opacity: 1;
      transform: translateY(0);
      transition: transform $transition-300 1s, opacity $transition-300 1s;
    }
  }

  &__logo {
    display: flex;
    margin: 0 0 28px 0;
    color: $color-black;

    svg {
      height: 14px;
      width: 278px;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 21px 0;
    color: $color-dim-gray;
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: $color-blue;
  }
}