.hero {
    background-image: url("../images/hero/hero.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    width: 100%;
    height: 732px;
    display: flex;
    align-items: center;
    margin: 0 0 210px;

    &__wrap {
        text-align: center;
    }

    &__title {
        font-family: $ff-title;
        color: $color-rust;
        font-weight: 400;
        font-size: 48px;
        margin: 0 0 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 24px;
    }
}