.custom-select {
    margin: 0 0 24px;

    @include vp-1023 {
        margin: 0;
    }

    &--active {
        .custom-select__list {
            display: grid;
        }
    }

    &__btn {
        cursor: pointer;
        background-color: transparent;
        border: none;
        display: flex;
        width: 100%;
        padding: 0;
    }

    &__label {
        background-color: $color-dark-blue;
        border: 1px solid $color-grayish-blue;
        color: $color-white;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 13px 21px;
        width: 100%;

        @include vp-1023 {
            font-size: 20px;
            line-height: 20px;
            padding: 18px;
        }

        @include vp-767 {
            font-size: 16px;
            line-height: 16px;
            padding: 12px;
        }
    }

    &__btn-icon {
        border: 1px solid $color-grayish-blue;
        padding: 16px 24px;
        width: 60px;
        height: 40px;

        @include vp-1023 {
            width: 164px;
            height: 56px;
        }

        @include vp-767 {
            width: 60px;
            height: 40px;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 32px;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px 75px;
        //box-shadow: 0px 12px 60px 0px #00000026;
        position: absolute;
        z-index: 1000;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: $color-white;
            box-shadow: 0px 12px 60px 0px #00000026;

            @include vp-767 {
                height: 100vh;
            }
        }

        @include vp-1023 {
            grid-template-columns: 1fr;
            gap: 24px;
            right: 32px;
        }

        @include vp-767 {
            gap: 26px;
            width: 100vw;
            top: 0;
            right: 0;

            .custom-select__list-icon {
                display: flex;
            }
        }

        &-icon {
            display: none;
            cursor: pointer;
        }
    }

    &__sublink {
        min-width: 242px;
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        display: flex;
        justify-content: space-between;
        color: $color-dark-grayish-blue;

        &-bold {
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: $color-black;
        }

        @include vp-1023 {
            min-width: 476px;
        }

        @include vp-767 {
            width: 100%;
            min-width: 0;
        }
    }
}